{% if result is not string %}
{% for doc in result %}
    {% set id = doc['id'] %}
    {% set info = doc|tojson %}
    <div id="{{id}}" class="{{doc['type'] ~ ' result'}}">
        <a class="typetab" href="{{get_video_link(doc['type'], id, doc['list'][0][1])}}" title="{{to_type_string(doc['type'])}}" target="_blank">
            <img src="/static/images/{{doc['type']}}.png" alt="" height="50">
        </a>
        {% if doc['type'] == 'yt' %}
            <a class="title link" href='javascript:;' onclick='directToVideo({{info}}, "0")'>{{doc['title']}}</a>
            <br>
            <a href="{{'http://www.youtube.com/channel/' ~ doc['channelId']}}">
                <span class="info">{{doc['length']}} • {{doc['channel']}} • {{doc['date']}} • {{doc['views']}}</span>
            </a>
            <div id="wrap-timestamps">
                <a class="thumbnail" href='javascript:;' onclick='directToVideo({{info}}, "0")'>
                    <img src="{{doc['thumb']}}" width=320 height=180 alt="thumbnail">
                </a>
                <div class="result-timestamps">
                <table id="times" cellspacing="0px" cellpadding="0px">
                    {% for tuple in doc['list'] %}
                        {% set text = tuple[0] %}
                        {% set sec = tuple[1] %}

                        <tr onclick='directToVideo({{info}}, "{{loop.index0}}")'>
                            <td>{{text}}</td>
                            <td class="timestamp">{{time_string(sec)}}</td>
                        </tr>

                    {% endfor %}
                </table>
                </div>
            </div>
        {% elif doc['type'] == 'flix'%}
        <a class="title link" href='javascript:;' onclick='directToVideo({{info}}, "0")'>{{doc['title']}} </a>
            <p class="info">Season {{doc['season']}} Episode {{doc['episode']}} • {{doc['episodeTitle']}}</p>
            <div id="wrap-timestamps">
                <a class="thumbnail" href='javascript:;' onclick='directToVideo({{info}}, "0")'>
                    <img src="https://assets.brand.microsites.netflix.io/assets/5a5c367c-8198-11e9-bf79-066b49664af6_cm_800w.png?v=32" width=320 height=180 alt="thumbnail">
                </a>
                <div class="result-timestamps">
                <table id="times" cellspacing="0px" cellpadding="0px">
                    {% for tuple in doc['list'] %}
                        {% set text = tuple[0] %}
                        {% set sec = tuple[1] %}

                        <tr onclick='directToVideo({{info}}, "{{loop.index0}}")'>
                            <td>{{text}}</td>
                            <td class="timestamp">{{time_string(sec)}}</td>
                        </tr>

                    {% endfor %}
                </table>
                </div>
            </div>

        {% else %}
            {% set extension, is_video = get_extension(id) %}
            <a class="title link" href='javascript:;' onclick='directToVideo({{info}}, "0")'>{{id}}</a>
            <p class="info">{{time_string(doc['length'])}} • {{extension.upper()}} File</p>
            <div id="wrap-timestamps">
                {% if is_video %}
                <a class="thumbnail" href='javascript:;' onclick='directToVideo({{info}}, "0")'>
                    <video src="{{ url_for('download_file', filename=id) }}#t=0,0" width="320" height="180" style="background-color: black;"></video>
                </a>
                {% else %}
                <a class="thumbnail audio-link" href='javascript:;' onclick='directToVideo({{info}}, "0")'>
                    <div class="audio"><span>{{ id[:-((extension|length)+1)] }}</span></div>
                </a>
                {% endif %}
                <div class="result-timestamps">
                <table id="times" cellspacing="0px" cellpadding="0px">
                    {% for tuple in doc['list'] %}
                        {% set text = tuple[0] %}
                        {% set sec = tuple[1] %}

                        <tr onclick='directToVideo({{info}}, "{{loop.index0}}")'>
                            <td>{{text}}</td>
                            <td class="timestamp">{{time_string(sec)}}</td>
                        </tr>

                    {% endfor %}
                </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endfor %}

{% if next_start is not defined %}
    {% set next_start = 10 %}
{% endif %}

{% if is_load_more(results_info, next_start) %}
    <button id="load-more" class="result" onclick='loadMore({{results_info|tojson}}, {{next_start}})'>
        Load More
    </button>
{% endif %}

{% endif %}