<html>

  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">

  </head>

  <body>
    <img class="center" src="/static/images/logo.png" alt="Stampyboi">
        <form action="/results" id="searchForm" enctype="multipart/form-data" method='POST' autocomplete="off">
            <div class="group" id="searchDiv">
                <div id="quoteDiv" class="ui-widget">
                    <input type="text" id="quote" name="quote" oninput="suggest()" autofocus list="autosuggest" placeholder="Come with me if you want to live">
                    <span class="bar" name="quoteTop"></span>
                    <span class="bar" name="quote"></span>
                    <span class="vertBar" name="left"></span>
                    <span class="vertBar" name="right"></span>

                </div>
                <button type="submit" form="searchForm" id="searchButton">Search</button>
            </div><!-- searchDiv -->

            <div id="optionalInputs">
                <div class="group">
                  <input type="text" id="yt_source" name="yt_source" placeholder=" " style="display: none;">
                  <span class="bar"></span>
                  <span class="highlight"></span>
                  <label for="yt_source" style="display: none;">YouTube link (optional)</label>
                </div>
                <div class="group">
                  <input type="text" id="flix_title" name="flix_title" placeholder=" " style="display: none;">
                  <span class="bar"></span>
                  <span class="highlight"></span>
                  <label for="flix_title" style="display: none;">Show title (optional)</label>

                </div>
                <div class="group">
                  <input type="text" id="flix_szn" name="flix_szn" pattern="\d{1,2}" title="1-2 digit number" maxlength=2 placeholder=" " style="display: none;">
                  <span class="bar"></span>
                  <span class="highlight"></span>
                  <label for="flix_szn" style="display: none;">Season # (optional)</label>

                </div>
                <div class="group">
                  <input type="text" id="flix_ep" name="flix_ep" pattern="\d{1,2}" title="1-2 digit number" maxlength=2 placeholder=" " style="display: none;">
                  <span class="bar"></span>
                  <span class="highlight"></span>
                  <label for="flix_ep" style="display: none;">Episode # (optional)</label>
                </div>
                <div id="fileUploadDiv" style="display: none;">
                    <input type="file" id="vid_upload" name="vid_upload" disabled required>
                    <img src="/static/images/uploadIcon.png" alt="Upload Files Here" width="10%">
                    <h3 style="text-align: center;">Choose a file or drag it here</h3>
                </div>
            </div>
          <br>
      <div id="optionsDiv">
            <h3>Narrow your search to:</h3>
            <label for="searchYt" class="checkboxLabel">YouTube</label>
            <input type="checkbox" name="searchYt" id="searchYt" onclick="toggleYt()"><br>
            <label for="searchFlix" class="checkboxLabel">Netflix</label>
            <input type="checkbox" name="searchFlix" id="searchFlix" onclick="toggleFlix()"><br>
            <label for="searchFile" class="checkboxLabel">File</label>
            <input type="checkbox" name="searchFile" id="searchFile" onclick="toggleFile()"><br>
        </div> <!--optionsDiv-->
    </form>

    <button id="optionsButton" class="textButton" onclick="this.blur()">Options</button>
    <button id="aboutButton" class="textButton" onclick="window.open('https://github.com/harrijin/stampyboi','_blank'); this.blur()">About</button>
  </body>
  <script src="https://unpkg.com/json5@^2.0.0/dist/index.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script>



    function toggleFile(){
        var check = document.getElementById('searchFile');
        if (check.checked == true){
            $('#fileUploadDiv').fadeIn(100);
            $('#vid_upload').prop("disabled", false);
        } else {
            $('#fileUploadDiv').fadeOut(100);
            $('#vid_upload').prop("disabled", true);
        }
    }
    function toggleYt(state){
        var check = document.getElementById('searchYt');
        var input = document.getElementById("yt_source");
        if (check.checked == true){
            $('#yt_source').show(100);
            $('label[for="yt_source"]').show(100);
        } else {
            $('#yt_source').hide(100);
            $('label[for="yt_source"]').hide(50);
        }
    }
    function toggleFlix(state){
        var check = document.getElementById('searchFlix');
        if (check.checked == true){
            $('#flix_title').show(100);
            $('#flix_szn').show(100);
            $('#flix_ep').show(100);
            $('label[for="flix_title"]').show(100);
            $('label[for="flix_szn"]').show(100);
            $('label[for="flix_ep"]').show(100);
        } else {
            $('#flix_title').hide(100);
            $('#flix_szn').hide(100);
            $('#flix_ep').hide(100);
            $('label[for="flix_title"]').hide(50);
            $('label[for="flix_szn"]').hide(50);
            $('label[for="flix_ep"]').hide(50);
        }
    }

    function suggest(){
        var userIn=encodeURIComponent(document.getElementById('quote').value);
        var suggestRequest = new XMLHttpRequest();
        suggestRequest.open('POST','/suggest', true);
        suggestRequest.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        suggestRequest.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var suggestions = JSON5.parse(this.responseText);
                $( "#quote" ).autocomplete({
                    source: suggestions
                });
            }

        };
        suggestRequest.send("q="+userIn);

    }
    $("#optionsButton").click(function() {
      $("#optionsDiv").animate({
        width: "toggle"
      }, 200);
      return false;
    });

    // $("body").click(function() {
    //   if ($("#optionsDiv").is(":visible")) {
    //     $("#optionsDiv").fadeToggle(100);
    //   }
    // });

    // $("#optionsDiv").click(function(){
    //     $("#optionsDiv").stop(true, true);
    //     $("#optionsDiv").fadeIn(100);
    //     return false;
    // });

    $(document).ready(function(){
        $('#fileUploadDiv input').change(function () {
            $('#fileUploadDiv h3').text("Selected file: " + this.value.split('\\').pop());
            // this.files.length + " file(s) selected"
        });
    });

  </script>

</html>
