<html>

  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">

  </head>

  <body>
    <img class="center" src="/static/images/logo.png" alt="Stampyboi">
        <form action="/results" id="searchForm" enctype="multipart/form-data" method='POST'>
            <div class="group" id="searchDiv">
                <div id="quoteDiv">
                    <input type="text" id="quote" name="quote" oninput="suggest()" autofocus list="autosuggest" placeholder="Come with me if you want to live">
                    <span class="bar" name="quoteTop"></span>
                    <span class="bar" name="quote"></span>
                    <span class="vertBar" name="left"></span>
                    <span class="vertBar" name="right"></span>
                </div>
                <button id="searchButton">Search</button>
            </div><!--optionsDiv-->
          <datalist id="autosuggest"></datalist>

          <br>
          <div id="optionsDiv">
            <div class="group">
              <input type="text" id="yt_source" name="yt_source" disabled placeholder=" ">
              <span class="bar"></span>
              <span class="highlight"></span>
              <label for="yt_source">YouTube video link</label>
            </div>
            <div class="group">
              <input type="text" id="flix_title" name="flix_title" disabled placeholder=" ">
              <span class="bar"></span>
              <span class="highlight"></span>
              <label for="flix_title">Show Name</label>

            </div>
            <div class="group">
              <input type="text" id="flix_szn" name="flix_szn" disabled pattern="\d{1,2}" title="1-2 digit number" maxlength=2 placeholder=" ">
              <span class="bar"></span>
              <span class="highlight"></span>
              <label for="flix_szn">Season #</label>

            </div>
            <div class="group">
              <input type="text" id="flix_ep" name="flix_ep" disabled pattern="\d{1,2}" title="1-2 digit number" maxlength=2 placeholder=" ">
              <span class="bar"></span>
              <span class="highlight"></span>
              <label for="flix_ep">Episode #</label>
            </div>
          <input type="text" id="search_src" name="search_src" style="display: none;" >
          <input type="file" id="vid_upload" name="vid_upload" disabled required>
        </form>
        <div class="searchSources">
            <button type="button" onclick="ytSearch(); this.blur();">YouTube</button>
            <button type="button" onclick="flixSearch(); this.blur();">Netflix</button>
            <button type="button" onclick="fileSearch(); this.blur();">File</button>
            <button type="button" onclick="noneSearch(); this.blur();">Everything</button>
        </div>
    </div> <!--optionsDiv-->
    <button id="optionsButton" class="textButton" onclick="toggleOptions(); this.blur()">Options</button>
    <button id="aboutButton" class="textButton" onclick="window.open('https://github.com/harrijin/stampyboi','_blank');">About</button>
  </body>
  <script src="https://unpkg.com/json5@^2.0.0/dist/index.min.js"></script>
  <script>

    var searchSrc="none";
    document.getElementById('search_src').value=searchSrc;
    //yt = youtube (default)
    //flix = netflix
    //file = file
    function toggleFile(state){
        document.getElementById("vid_upload").disabled = !state;
    }
    function toggleYt(state){
        document.getElementById("yt_source").disabled = !state;
    }
    function toggleFlix(state){
        document.getElementById("flix_title").disabled = !state;
        document.getElementById("flix_szn").disabled = !state;
        document.getElementById("flix_ep").disabled = !state;
    }
    function ytSearch(){
        searchSrc="yt";
        document.getElementById('search_src').value=searchSrc;
        toggleYt(true);
        toggleFlix(false);
        toggleFile(false);
    }
    function flixSearch(){
        searchSrc="flix";
        document.getElementById('search_src').value=searchSrc;
        toggleYt(false);
        toggleFlix(true);
        toggleFile(false);
    }
    function fileSearch(){
        searchSrc="file";
        document.getElementById('search_src').value=searchSrc;
        toggleYt(false);
        toggleFlix(false);
        toggleFile(true);
    }
    function noneSearch(){
        searchSrc="none";
        document.getElementById('search_src').value=searchSrc;
        toggleYt(false);
        toggleFlix(false);
        toggleFile(false);
    }
    function suggest(){
        var userIn=encodeURIComponent(document.getElementById('quote').value);
        var suggestRequest = new XMLHttpRequest();
        var suggestions;
        suggestRequest.open('POST','/suggest', true);
        suggestRequest.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        suggestRequest.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                suggestions = JSON5.parse(this.responseText);
                document.getElementById('autosuggest').innerHTML= "";
                let userOption = document.createElement('option');
                userOption.value = document.getElementById('quote').value;
                document.getElementById('autosuggest').appendChild(userOption);
                suggestions.forEach(addSuggestion);
            }

        };
        suggestRequest.send("q="+userIn);

    }
    function addSuggestion(suggestion){
        let option = document.createElement('option');
        option.value = suggestion.toLowerCase();
        document.getElementById('autosuggest').appendChild(option);
    }
    function toggleOptions(){
        var div = document.getElementById("optionsDiv");
        if(window.getComputedStyle(div).display === "none"){
            div.style.display = "block";
        }else{
            div.style.display = "none";
        }
    }
  </script>

</html>
