<div class="overlay">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/video.css') }}">
    <!-- <div>
        <form action='/'>
            <input type='submit' value='New search'>
        </form>
    </div> -->
    
    <div class="vertically-center">
        <div class="clip-container">
        {% if doc is not none %}
            {% set start = doc['list'][stamp][1] %}
            <iframe id="player" width="100%" height="100%" src="{{'https://www.youtube.com/embed/' ~ doc['id'] ~ '?autoplay=1&enablejsapi=true&start=' ~ start}}" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="infobar">
                <div class="ytInfo">
                    <h1>{{doc['title']}}</h1>
                    <h4>{{doc['channel']}} • {{doc['date']}}</h4>
                </div>
                <div class="timestamps">
                <table id="times" cellspacing="0px" cellpadding="0px">
                    {% for tuple in doc['list'] %}
                        {% set text = tuple[0] %}
                        {% set sec = tuple[1] %}

                        {% if sec == start %}
                        <tr onclick="setActive(this);seek('{{sec}}');" class="activeStamp">
                        {% else %}
                        <tr onclick="setActive(this);seek('{{sec}}');">
                        {% endif %}
                            <td>{{text}}</td>
                            <td class="timestamp">{{time_string(sec)}}</td>
                        </tr>

                    {% endfor %}
                </table>
                </div>
            </div>
        {% else %}
            <p>ERROR: No video.</p>
        {% endif %}
        </div>
        <div id="share">
            <h2>Share this boi:</h2>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var player;
        if (apiReady) {
            new YT.Player('player', {
                events: {
                    'onReady': onPlayerReady
                }
            });
        }

        function onPlayerReady(event) {
            player = event.target;
            player.playVideo();
            console.log('player ready');
        }

        function seek(sec) {
            if (player) {
                player.seekTo(parseInt(sec), true);
            }
        }

        function setActive(el) {
            $('.activeStamp').removeClass('activeStamp');
            $(el).addClass('activeStamp');
        }
    </script>
    <script>
        // https://stackoverflow.com/questions/1403615/use-jquery-to-hide-a-div-when-the-user-clicks-outside-of-it
        $(document).mouseup(function(e) {
            var container = $(".clip-container");

            // if the target of the click isn't the container nor a descendant of the container
            if (!container.is(e.target) && container.has(e.target).length === 0) {
                $('.overlay').remove();
            }
        });
    </script>
</div>