<html>
    <head>
        Title Placeholder (TODO)
    </head>
    <body>

        <iframe width="1519" height="554" src="{{'https://www.youtube.com/embed/' ~ id}}" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>

        <p>
            {% if stamps is not string %}
                {% for stamp in stamps %}
                <div>
                    {% set sec = stamp['sec'] %}
                    <span><a href='javascript:;' onclick="seek('{{sec}}')">{{stamp['time']}}</a> {{stamp['text']}}</span>
                </div>
                {% endfor %}
            {% else %}
                {{stamps}}
            {% endif %}
        </p>

    </body>
    <script src="http://www.youtube.com/player_api"></script>
    <script>
        var player;

        function onYouTubeIframeAPIReady() {
            console.log("player");
            player = new YT.Player('player', {
                events: {
                    'onReady': onPlayerReady
                }
            });
        }

        function onPlayerReady(event) {
            event.target.seekTo()
            event.target.playVideo();
        }

        function seek(sec) {
            if (player) {
                player.seekTo(sec, false);
            }
        }
    </script>
</html>