/*
Global constants defined in style.css.
:root {
    --BACKGROUND: #202020;
    --ACCENT: #00b3ff;
    --TEXT: #fff;
    --FONT-FACE: system-ui
}*/
img{
    display: block;
    margin: 0 auto;
    margin-top: 10vh;
}
.group        {
  position:relative;
  margin-bottom:10px;
}

input[name=quote] {
    width: 100%;
    font-size: 22px;
}
.bar[name=quote],.bar[name=quoteTop]  {width:100%; margin: 0 auto;}
.bar[name=quote] {bottom: -2px;}
.bar[name=quoteTop] {bottom:100%;}

.vertBar{position:relative; display:block; height:100%;margin:auto 0;bottom: 100%; padding: 0; width: 0px;}
.vertBar:before, .vertBar:after   {
  content:'';
  width:3px;
  height:0px;
  left:0px;
  position:absolute;
  background:var(--ACCENT);
  transition:0.2s ease all;
}
.vertBar[name=right] {left:calc(100% - 3px); bottom:200%;}
.vertBar:before {
  bottom:50%;
}
.vertBar:after {
  top:50%;
}

/* active state */
input:focus ~ .vertBar:before, input:focus ~ .vertBar:after {
  height:50%;
}
#searchDiv{
    margin: 5vh auto;
    margin-bottom: 0;
    width: 60%;
    display:flex;
    padding:0;
    justify-content: center;
}

#quoteDiv{
    width:85%;
    margin-right:1.5vh;
    z-index: 1000;
}

div.searchSources{
    margin-bottom: 10px;
}

#vid_upload{
    margin-bottom: 10px;
}

#searchButton{
    color: var(--ACCENT);
    width: 15%;
    font-size: 20px;
}

#optionsDiv{
    display: none;
    position: fixed;
    bottom: 65px;
    right: 15px;
    border: 2px solid #f1f1f1;
    z-index: 9;
    max-width: 300px;
    padding: 10px;
    background: #151515DF;
}

.textButton{
    all:unset;
    position: fixed;
    background: #00000000;
    color: var(--ACCENT);
    font-size: 20px;
    border-radius: 4px;
    padding: 10px 10px;
}

.textButton::after{
    all:unset;
}

.textButton:hover, .textButton:active, .textButton:focus{
    border: none;
}

#optionsButton{
    bottom: 15px;
    right: 15px;
}

#aboutButton{
    bottom: 15px;
    left: 15px;
}

.ui-menu
{
    position: relative;
    list-style: none;
    background-color: #FFFFFF10;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index:10;
    box-shadow: none;
    width: 214px;
    line-height: 200%;
    font-size: 18px;
    padding: 0px;
    border: solid 0px var(--ACCENT);

}
.ui-menu .ui-menu-item
{
    padding-left: 0px;
    left:0;
}

.ui-menu-item-wrapper{
    padding-left: 15px;
}

.ui-menu .ui-menu-item-wrapper:hover, .ui-menu .ui-menu-item-wrapper.ui-state-active
{
    background: #FFFFFF20;
}

.ui-helper-hidden-accessible{
    display:none !important;
}

li:last-child div{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}



