/*
Global constants defined in style.css.
:root {
    --BACKGROUND: #383B3F;
    --ACCENT: #00b3ff;
    --TEXT: #fff;
    --FONT-FACE: system-ui
}*/
img{
    display: block;
    margin: 0 auto;
    margin-top: 15vh;
}
.group        {
  position:relative;
  margin-bottom:45px;
}

input[name=quote] {
    width: 100%;
    font-size: 22px;
}
.bar[name=quote],.bar[name=quoteTop]  {width:100%; margin: 0 auto;}
.bar[name=quoteTop] {bottom:100%;}

.vertBar{position:relative; display:block; height:100%;margin:auto 0;bottom: 100%; padding: 0; width: 0px;}
.vertBar:before, .vertBar:after   {
  content:'';
  width:3px;
  height:0px;
  left:0px;
  position:absolute;
  background:var(--ACCENT);
  transition:0.2s ease all;
}
.vertBar[name=right] {left:calc(100% - 3px); bottom:200%;}
.vertBar:before {
  bottom:50%;
}
.vertBar:after {
  top:50%;
}

/* active state */
input:focus ~ .vertBar:before, input:focus ~ .vertBar:after {
  height:50%;
}
#searchDiv{
    margin: 5vh auto;
    margin-bottom: 0;
    width: 50%;
    display:flex;
    padding:0;
    justify-content: center;
}

#quoteDiv{
    width:100%;
    margin-right:1.5vh;
}

div.searchSources{
    margin-bottom: 20px;
}

